<section class="px-4 py-5 text-center">
    <h1 class="display-5 fw-bold text-body-emphasis">Una aplicación, todas tus clases</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Utiliza DCCanvas para aprender y enseñar como nunca antes. Transmite y adquiere conocimiento, conecta con tu comunidad educacional.</p>
        <button type="button" class="btn btn-primary btn-lg px-4">Busca tus cursos!</button>
    </div>
</section>