<% if object.errors.any? %>
  <div id="error_explanation" class="alert alert-danger">
    <h2><%= pluralize(object.errors.full_messages.uniq.count, "errores") %> impidieron que el material se guardara:</h2>
    <ul>
      <% object.errors.full_messages.uniq.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
